.mui-content {
	font-size: 14px;
	color: #8f8f94;
}

.mui-content p {
	text-indent: 22px;
}

.mui-btn-block {
	padding: 10px 0;
}

.copyright {
	position: absolute;
	text-align: center;
	bottom: 60px;
	text-transform: 50%;
	margin-top: 50px;
	width: 100%;
	font-size: 14px;
	color: #8f8f94;
}

@media (max-width: 320px) {
	.copyright {
		width: 100%;
		font-size: 14px;
		color: #8f8f94;
		position: static!important;
	}
}